{
    "ecmaFeatures": {
        "modules": true,
        "spread" : true,
        "restParams" : true
    },
    "env" : {
        "browser" : true,
        "es6" : true
    },
    "rules" : {
        "no-cond-assign": 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}